<div ng-controller="DetailController as detail">

<div id="homeSub" class="subHeader subStandard">
      <div id="subStandard">
        <div class="pull-left">
            <i class="fa fa-file-movie-o" ></i>
            <span class="displayDesc">{{ detail.content.name }}</span>
        </div>
      </div> 
    
    
    
    </div>

  <!--  <h3>
        <i class="fa fa-movie-camera mr"></i> {{ detail.content.name }}
    </h3>
    <hr>-->
    <div>

        <div class="row mt">

            <div class="project-wrapper" ng-show="detail.content.type[0]=='video'">
                <div class="project">
                    <div class="photo-wrapper"
                         ng-class="detail.videoInProgress(detail.content.status)">
                        <div class="photo">
                            <!--<a class="fancybox fancybox.iframe" href="dash.html?url={{content.link}}/dash/low_dash.mpd">-->
                            <a class="fancybox fancybox.iframe"
                               ng-href="{{detail.generateLink(content)}}"> 
                               <img class="img-responsive" ng-src="{{content.link}}/folder.jpg" alt="">
                            </a>
                            
                            
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <div class="project-wrapper" ng-show="detail.content.type[0]=='image'">
                <div class="project">
                    <div class="photo-wrapper"
                         ng-class="detail.videoInProgress(detail.content.status)">
                        <div class="photo">
                            <!--<a class="fancybox fancybox.iframe" href="dash.html?url={{content.link}}/dash/low_dash.mpd">-->
                            <a class="fancybox fancybox.iframe"
                               ng-href="{{detail.generateLink(content)}}"> 
                               <img class="img-responsive" ng-src="{{content.link}}/folder.jpg" alt="">
                            </a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <p>file owner : {{rolesUser.firstname}} {{rolesUser.surname}}</p>

                    <div class="fileiInfoBlock">
                        <p>file size : xxx</p>
                        <p>Dimensions : xxx</p>
                        <p>Duration : xxx</p>
                        <hr>
                        <p> <i class="fa fa-share-alt mr"></i> Sharing </p>
                        <hr>
                        <div class="checkbox ml">
												  <label><input type="checkbox" name="check1">Allow resharing</label>
												</div>
                        <div class="checkbox ml">
												  <label><input type="checkbox" name="check1">Allow comments</label>
												</div>
                        <div class="checkbox ml">
												  <label><input type="checkbox" name="check1">Allow downloading</label>
												</div>
                        <div class="checkbox ml">
												  <label><input type="checkbox" name="check1">Disable Snapmail link</label>
												</div>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc"-->
            <!--ng-repeat="detail in detail.list">-->
            <!--<div class="project-wrapper">-->
            <!--<div class="project">-->
            <!--<div class="photo-wrapper"-->
            <!--ng-class="detail.videoInProgress(detail)">-->
            <!--<div class="photo">-->
            <!--&lt;!&ndash;<a class="fancybox fancybox.iframe" href="dash.html?url={{content.link}}/dash/low_dash.mpd">&ndash;&gt;-->
            <!--<a class="fancybox fancybox.iframe"-->
            <!--ng-href="{{detail.generateLink(content)}}"> <img-->
            <!--class="img-responsive" ng-src="{{content.link}}/folder.jpg"-->
            <!--alt="">-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="overlay"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="text-right">-->
            <!--<button class="btn btn-primary btn-xs fa fa-pencil"-->
            <!--ng-click="detail.showDetails(content)"></button>-->
            <!--<button class="btn btn-danger btn-xs fa fa-trash-o"-->
            <!--ng-click="detail.removeVideo(content)"></button>-->
            <!--</div>-->
            <!---->
            <!--<script type="text/ng-template" id="VideosModalContent.html">-->
            <!--<div class="modal-header">-->
            <!--<h3 class="modal-title">This content can been watched by :</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
            <!--<div class="row mt">-->
            <!--<div class="col-md-12">-->
            <!--<div class="white-panel">-->
            <!--<div class="panel-heading">-->
            <!--<div class="pull-left">-->
            <!--<h5>-->
            <!--<i class="fa fa-tasks"></i> Roles List-->
            <!--</h5>-->
            <!--</div>-->
            <!--<br>-->
            <!--</div>-->
            <!--<div class="custom-check goleft mt">-->
            <!--<table id="todo" class="table table-hover custom-check">-->
            <!--<tbody>-->
            <!--<tr>-->
            <!--<td ng-repeat="role in roles"><span class="check"><input-->
            <!--class="checked" type="checkbox" ng-model="role.value"></span>-->
            <!--{{role.name}}-->
            <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
            <!--<td ng-repeat="rolesUser in rolesUsers"><span class="check"><input-->
            <!--class="checked" type="checkbox" ng-model="rolesUser.value"></span>-->
            <!--{{rolesUser.firstname}} {{rolesUser.surname}}-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--&lt;!&ndash; /table-responsive &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;/ White-panel &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; &#45;&#45;/col-md-12 &#45;&#45;&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
            <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
            <!--</div>-->
            <!--</script>-->

            <!--</div>-->
            <!--&lt;!&ndash; col-lg-4 &ndash;&gt;-->
        </div>
        <!-- end ng-controller -->

        <!--script for this page-->

        <script type="text/javascript">
            // This script manages the display for the fancybox (i.e. the display when we click on the images) */
            //Try to adapt dimensions with display
            var height = null;
            var width = null;
            if ($(window).width() < 854) {
                width = '90%';
                height = $(window).width() * 0.9 / (16 / 9) + 50;
                height = height.toString() + 'px';
            } else {
                width = '854px';
                height = '510px'
            }

            $(document).ready(function () {
                //    fancybox
                console.log("init fancybox");
                $(".fancybox").fancybox({
                    autoSize: false,
                    width: width,
                    height: height,
                    scrolling: false,
                    openEffect: 'none',
                    closeEffect: 'none',
                    nextEffect: 'none',
                    prevEffect: 'none',
                    padding: 0,
                    margin: [0, 0, 0, 0]
                    // Increase left/right margin
                });
            });
        </script>
    </div>
</div>