<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Medi@Home Register Form</title>

<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/style-responsive.css" rel="stylesheet">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-mocks.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-cookies.js"></script>
<script src="register.js"></script>
<script src="app.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>

<body ng-app="RegisterForm">
	<div id="login-page" ng-controller="mainController">
		<div class="container">

			<form class="form-login" name="registerForm" validate>


				<!-- Register Form -->


				<form role="form" action="#" method="POST">
					<h2 class="form-login-heading">sign up now</h2>
					<fieldset>
						<div class="login-wrap">
							<!-- Name -->
							<input class="form-control" placeholder="Firstname"
								ng-model="person.firstname" type="text" autofocus required>
							<br>

							<!-- Surname -->
							<input class="form-control" placeholder="Surname"
								ng-model="person.surname" type="text" autofocus> <br>

							<!-- Password -->
							<input class="form-control" placeholder="Password"
								ng-model="person.password" type="password"> <br>

							<!-- Mail Address -->
							<input class="form-control" placeholder=" E-mail Address "
								ng-model="person.userID" type="text"> <br>

							<button ng-click="submitData(person)"
								class="btn btn-theme btn-block">
								<i class="fa fa-lock"></i> Sign Up
							</button>

							<hr>
							<div class="registration">
								You already have an account !! <br /> <a href="index.html"
									onClick=""> Sign in Here</a>
							</div>
						</div>

					</fieldset>
				</form>


				<!--
  <label>Name :</label>
            <input type="text" ng-model="person.firstname"/></br>
            <label>Surname :</label>
            <input type="text" ng-model="person.surname"></br>
            <label>Password :</label>
            <input type="text" ng-model="person.password"></br>

            <label>Email Adress :</label>
            <input type="text" ng-model="person.userID"></br>


            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <!-- span class adds a flash logo to the submit button --
            <button ng-click="submitData(person)" class="btn btn-success"><span class="glyphicon glyphicon-flash"></span>Sign up</button>

            -->

			</form>
		</div>
	</div>


	<!-- js placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	<script type="text/javascript"
		src="assets/js/jquery.backstretch.min.js"></script>
	<script>
		$.backstretch("assets/img/login-bg.jpg", {
			speed : 500
		});
	</script>


</body>


</html>
