<div class="col-md-8" ng-controller="MyRolesController as role">
    <div id="viewHeader">
        <h2>My Role</h2>
    </div>

    <!-- ROLE -->
    <div class="row mt">
        <div class="col-md-12">
            <section class="task-panel tasks-widget">
                <div class="panel-heading">
                    <div class="pull-left"><h5><i class="fa fa-tasks"></i> Roles List </h5></div>
                    <br>
                </div>
                <div class="panel-body" >
                    <div class="task-content">

                        <ul class="task-list">
                            <li ng-repeat="r in role.list">
                                <!--<div class="task-checkbox">-->
                                    <!--<input type="checkbox" class="list-child" value="">-->
                                <!--</div>-->
                                <div class="task-title">
                                    <span class="task-title-sp">{{r.name}}</span>
                                    <!--<span class="badge bg-theme">Done</span>-->

                                    <div class="pull-right hidden-phone">
                                        <!--<button class="btn btn-success btn-xs" ng-click="role.showContact(r)"><i-->
                                                <!--class=" fa fa-check"></i></button>-->
                                        <button class="btn btn-primary btn-xs" ng-click="role.showPermission(r)">
                                            <i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="role.delete(r)"><i
                                                class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>

                                <script type="text/ng-template" id="PermissionModalRole.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">This content can been watched by :</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mt">
                                            <div class="col-md-12">
                                                <div class="white-panel">
                                                    <div class="panel-heading">
                                                        <div class="pull-left">
                                                            <h5>
                                                                <i class="fa fa-tasks"></i> Roles List
                                                            </h5>
                                                        </div>
                                                        <br>
                                                    </div>
                                                    <div class="custom-check goleft mt">
                                                        <table id="todo" class="table table-hover custom-check">
                                                            <tbody>
                                                            <tr>
                                                                <td ng-repeat="permission in permissions"><span class="check"><input
                                                                        class="checked" type="checkbox" ng-model="permission.value"></span>
                                                                    {{permission.action}}
                                                                </td>
                                                            </tr>

                                                           
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /table-responsive -->
                                                </div>
                                                <!--/ White-panel -->
                                            </div>
                                            <!-- --/col-md-12 ---->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                    </div>
                                </script>

                            </li>

                        </ul>
                    </div>

                    <div class=" add-task-row">

                        <input class="form-control" placeholder=" Role Name " ng-model="role.rolename" type="text">

                        <a class="btn btn-success btn-sm pull-left" ng-click="role.addRole(role.rolename)">Add New Role</a>
                        <!--<a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>-->
                    </div>
                </div>
            </section>
        </div>
        <!-- /col-md-12-->
    </div>
    <!-- EDIT ROLE -->


    <!-- SMTP PROPERTIES -->



    <!-- 		<button ng-click="role.auth2token(role.code)" class="btn btn-lg btn-default btn-block"
                ng-class="role.class">Send code
            </button> -->
</div>