<div class="row" ng-controller="friendSearchController as search">

    <input class="form-control" placeholder=" Name " ng-model="search.searchName" type="text">
    <button ng-click="search.searchRelation(search.searchName)" class="btn btn-primary btn-block"> Search a Friend</button>

    <div id="FriendsList">
        <div class="col-md-3 mb" ng-repeat="relation in search.list">
            <div class="white-panel pn">
                <div class="white-header">
                    <h5>{{relation.firstname}} {{relation.surname}}</h5>
                </div>
                <p><img src="assets/img/ui-zac.jpg" class="img-circle" width="80"></p>
                <p><b>{{relation.email}}</b></p>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p class="small mt">Ask for Friend</p>
                        <a class="btn btn-xs btn-primary" ng-show="!search.isAsked(relation)" ng-click="search.AskForFriend(relation)">Yes</a>
                        <i class="fa fa-check template-black"  ng-show="search.isAsked(relation)"></i>
                    </div>
                </div>

            </div>
        </div> <!-- End ng-repeat -->
    </div>
</div>