<div ng-controller="HomeController as rssFeed">
  
    
    <div id="homeSub" class="subHeader subStandard">
      <div id="subStandard">
        <div class="pull-left">
            <span class="fa fa-sort-amount-desc sortThings" ng-click="rssFeed.openShort()"></span>
            <span class="displayDesc">All media by {{rssFeed.predicate}}</span>
        </div>
        <span class="fa fa-search pull-right" ng-click="rssFeed.showSearchField()"></span>
      </div>  
      <div id="subSearch">
        <div class="pull-left searchBox">
          <span class="fa fa-arrow-left sortThings mr" ng-click="rssFeed.showSearchField()"></span>
          <label><input type="search" class="form-control input-sm" ng-model="searchText"></label>
        </div>
        <span class="fa fa-search pull-right" ng-click="rssFeed.updateForced()"></span>
      </div>
    
    
    
    </div>
    <!--
       <div class="itemsList">
            <label>Search: <input class="form-control" ng-model="searchText"></label>

            <a href="" ng-click="rssFeed.updateForced()">update</a>
            <a href="" ng-click="rssFeed.predicate=''">unsorted</a>

            <a href="" ng-click="rssFeed.order('title')">title</a>
    <span class="sortorder" ng-show="rssFeed.predicate === 'title'"
          ng-class="{reverse:reverse}"></span>

            <a href="" ng-click="rssFeed.order('author.name')">author name</a>
    <span class="sortorder" ng-show="rssFeed.predicate === 'author.name'"
          ng-class="{reverse:reverse}"></span>

            <a href="" ng-click="rssFeed.order('published')">published</a>
    <span class="sortorder" ng-show="rssFeed.predicate === 'published'"
          ng-class="{reverse:reverse}"></span>
        </div>-->
        
       <!-- <div class="row">


            <div class="col-lg-12">

                <div class="row">
                    <div id="homepage-text" class="col-md-12 col-xs-12">
                        <!-- <h1 class="centered">Welcome in MediaHome</h1>
                         <hr/>

                         <p>With MediaHome you can :
                         <ul>
                             <li>Keep rights on video you share..</li>
                             <li>Keep your privacy a secret.</li>
                             <li>Control exactly with whom you want to share.</li>
                             <li>Share videos as much and as long as you want.</li>
                         </ul>
                         </p>-->

    <!--ng-repeat="feed in rssFeed.feed">-->
    <!--   <h2><a href="{{rssFeed.feed.link._href}}" target="_blank">{{rssFeed.feed.title}}</a></h2>-->


    <div class="itemsList">
        <div ng-repeat="item in rssFeed.feed.entry | filter:searchText | orderBy:rssFeed.predicate:rssFeed.reverse"
             class="{{item.category._term[0]}} {{rssFeed.getStatus(item)}} wallItem content col-lg-4 col-md-6 col-sm-6 col-xs-12"
             ng-class="{'classImg': item.category._term[0] == 'image' , 'classApp': item.category._term[0] == 'application', 'classVid': item.category._term[0] == 'video', 'classSnd': item.category._term[0] == 'audio' } ">
            <div class="wallItemBkg">
                <!-- this image below is there to keep the vertical aspect ratio constant -->
                <img src="assets/img/ratio8x5.png" class="img-responsive ratioKeeper">
                
            </div>
            <div class="wallItemImg" ng-click="changeView(item.id)"
                 style="background-image:url({{rssFeed.getPreviewLink(item)}});  "></div>
            <div class="wallItemTxt">

                <!--{{$index}} - {{item.title}} - {{rssFeed.feed.entry[$index - 1]}} -->
                <!--<h3>
                    <span ng-show="rssFeed.dateShow(item,rssFeed.feed.entry[$index - 1])"> {{item.published| date:'fullDate'}}</span>
                </h3>-->


                <div class="socialButtons"><span class="itemShare fa fa-share-alt"></span><span
                        class="itemLike fa fa-heart"></span><span
                        class="itemComment fa fa-comment"></span>
                </div>
                <div class="legends">
                    <i class="fa"
                       ng-class="{'fa-photo': item.category._term[0] == 'image' , 'fa-cloud-download': item.category._term[0] == 'application', 'fa-video-camera': item.category._term[0] == 'video', 'fa-music': item.category._term[0] == 'audio' } "></i>
                                <span class="itemTitle"><a href="{{item.link.get(0)}}" target="_blank">
                                    {{item.title}} </a></span>
                    <span> by {{item.author.name}}</span>
                    <!-- (<span>{{item.published | date:'HH:mm dd-MM-yyyy'}}</span>)-->
                </div>

                <!--</div>-->
            </div>
        </div>
        <script type="text/ng-template" id="ShortModalContent.html">
            <div class="modal-header">
                <h4 class="modal-title">Sorting and Filtering</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                            <div class="panel-heading">
                                <div>
																<h5>Sorting</h5>
                                  <div class="radio ml">
																		<label><input type="radio" name="optradio">By date</label>
																	</div>
																	<div class="radio ml">
																		<label><input type="radio" name="optradio">By Owner</label>
																	</div>
																	<h5>Filtering</h5>
                                  <div class="checkbox ml">
																		<label><input type="checkbox" name="filter1">Liked items only</label>
																	</div>
																	<div class="checkbox ml">
																		<label><input type="checkbox" name="filter2">Images</label>
																	</div>
																	<div class="checkbox ml">
																		<label><input type="checkbox" name="filter3">Movies</label>
																	</div>
																	<div class="checkbox ml disabled" >
																		<label><input type="checkbox" name="filter4" disabled>Music files</label>
																	</div>
																	<div class="checkbox ml disabled">
																		<label><input type="checkbox" name="filter5" disabled>Documents</label>
																	</div>
																	<div class="checkbox ml disabled">
																		<label><input type="checkbox" name="filter6" disabled>Text messages</label>
																	</div>
                                </div>
                            </div>
                            <!-- /table-responsive -->
                        </div>
                        <!--/ White-panel -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="ok()">OK</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>
<!-- <a href="" ng-click="rssFeed.print()"> print</a>-->
<!--</div>-->

<!--</div>-->
<!-- /col-lg-9 END SECTION MIDDLE -->


<!--</div>-->
<!--</div>-->

<!--</div>-->
<! --/row -->


<!--script for this page-->

<script src="assets/js/xml2json.min.js"></script>
